/FindMeDesktop/nbproject/private/
/PruebasOCV/nbproject/private/
/OCV_Pruevas/nbproject/private/
/OCV_Pruevas/build/
/OCV_Pruevas/dist/
/Opncv_Busqueda_En_Archivo/nbproject/private/
/Opncv_Busqueda_En_Archivo/build/